<div class="search-box-container">
  <a href="/">
      <img src="/img/mercado-libre-logo.png" alt="Mercado Libre Logo" class="logo">
  </a>
  <form action="/api/items" method="GET">
      <input type="text" name="q" id="searchInput" placeholder="Buscar en Mercado Libre">
      <button type="submit">Buscar</button>
  </form>
</div>